<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>


    <%- include('../partials/head') %>
        <%- include('../partials/navbars') %>
            <h1>Mis on teadus?</h1>
</head>


<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Teaduse eesmärk on saada uusi tõeseid teadmisi</h1>
            <p>Teadlased teevad iga päev tööd selle nimel, et saada uusi teadmisi, teha avastusi ja luua seadmeid,
                millest oleks
                inimestele kasu. Meie elu on muutunud turvalisemaks ja mugavamaks: oleme harjunud kasutama GPS seadmeid,
                arvuteid, mobiiltelefone, i-Pode. Nii saame kergesti suhelda sõpradega ükskõik millises maailma nurgas.
                Et mitte
                haigestuda rasketesse nakkushaigustesse, saame lasta end vaktsiinidega vaktsineerida. Teadus on ühtaegu
                nii
                uurimisprotsess kui ka teadmiste kogum, mis uurimistöö tulemusena sünnib. Teadusliku uurimistöö eesmärk
                on
                paremini maailma tundma õppida ning leida vastuseid küsimustele mis, miks, kus ja kuidas toimub. Seega
                on teadus
                maailma tundmaõppimise viis. Teadusel on palju harusid, mis uurivad eri valdkondi. Näiteks tegeleb
                keeleteadus
                inimkeele, ajalooteadus inimühiskondade arenemise ja kasvatusteadus kasvatuse ja õpetuse uurimise ja
                analüüsimisega. Need teadused kuuluvad humanitaarteaduste hulka.</p>
        </div>

        <div class="jumbotron">
            <h1>Bioloogia kui teadus</h1>
            <p>Loodust uurivad ja käsitlevad loodusteadused (nt füüsika, keemia, bioloogia). Kõige üldisemaid ja
                põhilisemaid
                seaduspärasusi looduses alates maailmaruumist kuni silmale nähtamatu mikromaailmani uurib füüsika.
                Eluslooduse
                uurimisega tegeleb bioloogia (bios tähendab kreeka keeles elu). Bioloogia omakorda jaguneb mitmeks
                haruks
                vastavalt sellele, mida uuritakse.</p>
        </div>
    </main>
</body>









<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Kuidas teadus areneb?</h1>
            <p>Teaduse saavutused ei sünni tühja koha peale, tavaliselt eelneb suurtele avastustele paljude teadlaste
                pikaajaline töö. Teaduse areng põhineb varasematel saavutustel. Ka neid teadmisi, mis hiljem valeks
                osutuvad, on
                vaja, sest need aitavad jõuda tõeni. Teaduse areng on pidev ja lõppematu protsess. Uued teadmised
                täiendavad
                olemasolevaid ja sageli ka korrigeerivad vanu ning annavad maailmast parema ettekujutuse. Näiteks
                avastati juba
                17. sajandil, et inimesele kellegi teise verd üle kandes saab tema elu päästa. Paljudel juhtudel
                ülekanne aga
                ebaõnnestus ja patsient suri. Teadlaste edasised uuringud andsid vere kohta uut infot: 20. saj algul
                avastati
                veregrupid. Uusi teadmisi saadi ka vere hüübimise ja koostise kohta. Kõik see võimaldas välja töötada
                niisuguse
                meetodi, mis võimaldab verd ohutult üle kanda. Tihti jõutakse loodusteaduste eri valdkondades paremate
                tulemusteni siis, kui mitme teadusharu teadlased (nt füüsikud, keemikud, bioloogid) teevad koostööd.</p>
        </div>
    </main>
</body>

<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Tehnoloogia kasutab teaduse saavutusi inimeste huvides</h1>
            <p>Tundes looduses toimivaid seaduspärasusi ja loodusvarasid, saavad inimesed ehitada kõikvõimalikke
                seadmeid ning
                toota eluks vajalikku. Soovitud toote saab valmis teha, kui on olemas vajalikud vahendid ja oskused, s.o
                vastav
                tehnoloogia. Tehnoloogia on toodete valmistamise viis. Sobiva tehnoloogia väljatöötamine võimaldab toota
                keerulisi elektroonilisi seadmeid ja muid masinaid. Et valmistada piimast jogurtit, mereveest soola,
                kartulist
                tärklist, maisist popkorni, selleks tuleb samuti kasutada õiget tehnoloogiat. Naftavarude kahanemine on
                sundinud
                inimesi välja töötama uusi tehnoloogiaid autokütuse tootmiseks, näiteks rapsist või maisist. Teadlased
                uurivad
                oma valdkonda ja uurimisobjekte, et nende kohta uusi teadmisi saada. Tehnoloogia aga kasutab teaduse
                saavutusi
                praktiliste probleemide lahendamiseks: inimesele vajalike toodete või protsesside
                arendamiseks.Tehnoloogia
                sõltub teaduse edusammudest. Tehnoloogia areng omakorda aitab kaasa teaduse arengule. Näiteks teadlaste
                edusammud füüsikas võimaldasid inseneridel leiutada elektronmikroskoobi, mis suurendab tavalisest
                valgusmikroskoobist sadu kordi rohkem. Elektronmikroskoopi kasutades on teadlased omakorda teinud uusi
                avastusi,
                näiteks rakuosade ehituses.Kuigi tehnoloogia eesmärk on parandada inimese elu, on osal tehnoloogia
                saavutustel
                olnud kahjulikke mõjusid.
                Näiteks laialt kasutusel olnud taimekaitsemürk DDT osutus ohtlikuks mürgiks, mis põhjustas inimeste ja
                loomade
                haigestumist, ning seetõttu on keelustatud paljudes riikides.</p>
        </div>
    </main>
</body>

<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Kõik ei ole teadus, mis teadusena näib</h1>
            <p>Vahel püütakse oma väidet kaalukamaks muuta, esitada seda teaduslikuna, kuigi see seda pole.
                Kontrollimata
                andmete esitamine teaduslike faktidena võib kaasa tuua palju kahju. Näiteks võivad teaduslikult
                tõestamata
                erilised toitumissoovitused või raviviisid olla tervisele ohtlikud.

                Ebateadus (libateadus) on tegevus, mis meenutab teadust, kuid selle aluseks on petlikud eeldused ja
                faktid, mida
                pole kontrollitud. Teadlased jõuavad teaduslikult tõestatud faktideni kasutades teaduslikku meetodit ja
                seda
                mitu korda korrates. Teadusliku fakti usaldusväärsus tõuseb, kui sama tulemuseni jõuavad ka teised
                uurijad.
                Ebateadused tuginevad sageli väljavalitud üksikjuhtumitele. Ebateadustesse usuvad sageli inimesed,
                kellel napib
                teadmisi ja tahet iseseisvalt mõelda. Maailmas on veel palju avastamata saladusi, kuid vahet tuleb teha
                teaduslikult tõestatud seaduspärasustel ja seni tõestamata oletustel ja uskumustel.</p>
        </div>
    </main>
</body>


<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Milleks on vaja bioloogiateadmisi?</h1>
            <p>Bioloogid ei tööta mitte ainult teadlastena, vaid ka väga paljudes teistes valdkondades: loodus- ja
                keskkonnakaitses, hariduses, kalanduses, jahinduses jm. Peale bioloogide vajavad bioloogiateadmisi ka
                meditsiinitöötajad ja mitmete muude alade esindajad.</p>
        </div>
    </main>
</body>


<body>







    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->






    <!-- FAQ Area-->
    <div class="col-12 col-sm-10 col-lg-8">
        <div class="accordion faq-accordian" id="faqAccordion">



            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="card-header" id="headingOne">
                    <h1 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">Mõisted<span class="lni-chevron-up"></span></h1>
                </div>
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Mikrobioloogid</b>
                            töötavad näiteks toidulaborites, kus nad koos keemikutega analüüsivad toiduproove, et teha
                            kindlaks, kas toit on kõlblik. Oluline on, et inimesteni jõuaks vaid kvaliteetne toit, mis
                            ei
                            sisalda haigusi
                            tekitavaid mikroorganisme ega ole saastunud mürgiste ainetega, nt putukamürkidega.
                            Toiduainetööstuses hindavad
                            nad toidu ohutust, kuid nad jälgivad ka, kuidas valmivad mikroobide abil mitmesugused
                            tooted:
                            jogurt, hapukurgid
                            jm. Mikrobioloogid osalevad ka keskkonnauuringutes, nad teevad joogi- ja basseinivee,
                            reoveesetete,
                            pinnase jms
                            analüüse.
                        </div>




                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Biomeditsiin</b>
                            on teadusharu, mis ühendab bioloogiat ja arstiteadust. Inimeses toimuva paremaks mõistmiseks
                            ja
                            mõjutamiseks suudab tippteadus uurida inimorganismi molekulide tasemel. Tartu Ülikooli
                            teadlane Mart
                            Ustav
                            töötab koostöös teiste teadlastega välja HI-viiruse vastast vaktsiini, mis kaitseks inimesi
                            selle
                            ohtliku
                            viiruse eest. HI-viirus põhjustab rasket haigust AIDS-i, mis muudab inimese vastuvõtlikuks
                            teistele
                            nakkushaigustele ja vähile. 
                        </div>
                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Merebioloogid</b>
                            uurivad mere elustikku ja jälgivad vee seisundit. Nad hindavad kalavarude suurust ja
                            annavad
                            soovitusi kalapüügi planeerimisel. Koos teiste spetsialistidega hindavad nad avamere
                            tuuleparkide
                            rajamise,
                            torujuhtmete ja kaablite merepõhja paigutamise võimalikke mõjusid merekeskkonnale.
                            Mereelustiku
                            seisundi
                            tundmine ja inimtegevuse suunamine on looduskaitse seisukohalt tähtis, et liigid säiliks.
                        </div>
                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Kalakasvatajatel</b>
                            peavad olema põhjalikud teadmised kalade bioloogiast, et luua kalade kasvatamiseks sobivad
                            tingimused ja hoida ära neid ohustavaid haigusi. Kalu kasvatatakse enamasti inimese toiduks,
                            kuid ka
                            looduslike
                            populatsioonide tugevdamiseks või taastamiseks. Põlula kalakasvatuskeskuses kasvatatakse
                            lõhe- ja
                            meriforellimarjast kalamaime. Sobivas vanuses lastakse need Põhja-Eesti jõgedesse, et
                            suurendada
                            sealseid
                            kalavarusid. Enne vette laskmist kalamaimud märgistatakse, et teadlased saaks teada, kui
                            paljud
                            neist ellu
                            jäävad, kuhu nad rändavad, kuidas kasvavad, ja kui paljud neid välja püütakse. Sellise
                            märgistatud
                            kala
                            püüdmisest tuleks teada anda RMK kodulehe kaudu.
                        </div>
                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Looduskaitsetöötajad</b>
                            hoolitsevad ohustatud liikide ja koosluste säilimise eest. Põhjalikud teadmised zooloogiast
                            ja botaanikast aitavad otsustada, kuidas looma- ja taimeliike targasti kaitsta. Näiteks
                            koguvad nad
                            teavet
                            haruldaseks muutunud kotkaliikide kohta ja jagavad juhiseid, kuidas nende lindude seisukorda
                            parandada ja
                            arvukust tõsta. Looduskaitse aitab säilitada elu mitmekesisust.
                        </div>
                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Metsandusega</b>
                            tegelevatel inimestel on vaja teadmisi nii bioloogiast kui ka metsamajandusest. Nad peavad
                            tundma
                            nii metsa elustikku ja selles ökosüsteemis valitsevaid seaduspärasusi, puidu esmase
                            töötlemise
                            tehnoloogiat kui
                            ka metsanduse kohta käivaid seadusi. Nad kasvatavad ja hooldavad metsi, kust saame vajalikku
                            puitu.
                            Arukas
                            majandamine tagab selle, et metsad säilivad ning puidu tootmine on jätkusuutlik.
                        </div>
                    </div>
                </div>
            </div>


            <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        <div class="item">
                            <b>Sordiaretajad</b>
                            aretavad uusi taimesorte, mis annaksid häid saake, oleksid haiguskindlad ja heade
                            maitseomadustega.
                            Jõgeva Sordiaretuse Instituudis aretatakse uusi kartuli-, teravilja- ja köögiviljasorte. Ühe
                            sordi
                            aretamiseks
                            teevad sageli koostööd mitme maa teadlased. Näiteks on koos Soome teadlastega saadud uued
                            nisusordid
                            „Helle”,
                            „Meri” ja „Mooni”, mis sobivad kasvatamiseks ka meie jahedas kliimas ja millest saab head
                            saiajahu.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>






















</body>


</html>