<header class="header">
    <a href="/" class="logo">Bioloogia<i class="fa fa-shopping-cart" aria-hidden="true"></i><span>&nbsp;7.klass</span></a>
    <nav class="navbars">
        <ul>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Teemad
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Mis_on_teadus">Mis on teadus?</a></li>
                  <li><a class="dropdown-item" href="/index">Lisa teema siia</a></li>
                  <li><a class="dropdown-item" href="/index">Lisa teema siia</a></li>
                </ul>
              </li>
          
        

        </ul>
    </nav>

</header>